# Hackeando Dados da Web (Eticamente!)
Um Minicurso de Web Scraping e Automação Web

Curso de Verão Nova Roma

## Instalando e iniciando o selenium

In [22]:
# Imports

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import pandas as pd
from selenium.webdriver.common.keys import Keys

In [8]:
service = Service(ChromeDriverManager().install())

driver = webdriver.Chrome(service=service)

# Fechar o navegador
# driver.quit()

## Caso 1 - Login e base de preços

In [3]:
# Acessar o site
driver.get("https://www.saucedemo.com/")

In [4]:
# Login no site
driver.find_element(By.ID, "user-name").send_keys("standard_user")
driver.find_element(By.ID, "password").send_keys("secret_sauce")
driver.find_element(By.ID, "login-button").click()

In [5]:
# ver os preços de cada produto
produtos = driver.find_elements(By.CLASS_NAME, "inventory_item")

dados = []
for produto in produtos:
    nome = produto.find_element(By.CLASS_NAME, "inventory_item_name").text
    preco = produto.find_element(By.CLASS_NAME, "inventory_item_price").text
    dados.append({"Nome": nome, "Preço": preco})

dados

[{'Nome': 'Sauce Labs Backpack', 'Preço': '$29.99'},
 {'Nome': 'Sauce Labs Bike Light', 'Preço': '$9.99'},
 {'Nome': 'Sauce Labs Bolt T-Shirt', 'Preço': '$15.99'},
 {'Nome': 'Sauce Labs Fleece Jacket', 'Preço': '$49.99'},
 {'Nome': 'Sauce Labs Onesie', 'Preço': '$7.99'},
 {'Nome': 'Test.allTheThings() T-Shirt (Red)', 'Preço': '$15.99'}]

In [6]:
# inserir num df

df = pd.DataFrame(dados)

df.head()

                       Nome   Preço
0       Sauce Labs Backpack  $29.99
1     Sauce Labs Bike Light   $9.99
2   Sauce Labs Bolt T-Shirt  $15.99
3  Sauce Labs Fleece Jacket  $49.99
4         Sauce Labs Onesie   $7.99

## Caso 2 - Gerar relatório de preços de livros de mistério

In [9]:
# Acessar o site
driver.get("https://books.toscrape.com")

In [ ]:
# Acessar apenas os livros de mistério

driver.find_element('xpath','//*[@id="default"]/div/div/div/aside/div[2]/ul/li/ul/li[2]/a').click()

In [ ]:
proximaPagina = driver.find_elements(By.CLASS_NAME,'next')
while(len(proximaPagina) > 0):
    print("tem a proxima pagina")
    driver.find_element(By.CLASS_NAME,'next').find_element(By.TAG_NAME, "a").click()
    proximaPagina = driver.find_elements(By.CLASS_NAME,'next')
print("final")

In [ ]:
# Encontrar todos os livros (cada um está em uma tag <article> com a classe 'product_pod')
livros = driver.find_elements(By.CLASS_NAME, "product_pod")

produtos = []
    
# Iterar pelos livros e capturar o título e o preço
for livro in livros:
    # O título está no atributo 'title' da tag <a>
    titulo = livro.find_element(By.TAG_NAME, "h3").find_element(By.TAG_NAME, "a").get_attribute("title")
    # O preço está na tag <p> com a classe 'price_color'
    preco = livro.find_element(By.CLASS_NAME, "price_color").text
    # print(f"Título: {titulo} | Preço: {preco}")
    produtos.append({"Título": titulo, "Preço": preco})

df = pd.DataFrame(produtos)

df.head()

                                            Título   Preço
0                                    Sharp Objects  £47.82
1                             In a Dark, Dark Wood  £19.63
2                              The Past Never Ends  £56.50
3                                 A Murder in Time  £16.64
4  The Murder of Roger Ackroyd (Hercule Poirot #4)  £44.10

In [ ]:
# fazer o mesmo mas indo em todas as páginas

produtos = []

while(True):

    # Encontrar todos os livros (cada um está em uma tag <article> com a classe 'product_pod')
    livros = driver.find_elements(By.CLASS_NAME, "product_pod")

    

    # Iterar pelos livros e capturar o título e o preço
    for livro in livros:
        # O título está no atributo 'title' da tag <a>
        titulo = livro.find_element(By.TAG_NAME, "h3").find_element(By.TAG_NAME, "a").get_attribute("title")
        # O preço está na tag <p> com a classe 'price_color'
        preco = livro.find_element(By.CLASS_NAME, "price_color").text
        # print(f"Título: {titulo} | Preço: {preco}")
        produtos.append({"Título": titulo, "Preço": preco})

    # Buscar se tem elementos do botão next na página
    proximaPagina = driver.find_elements(By.CLASS_NAME,'next')
    if (len(proximaPagina) > 0):
        print("Existe outra página")
        # clicar no botão next
        driver.find_element(By.CLASS_NAME,'next').find_element(By.TAG_NAME, "a").click()    
    else:
        print("finalizado")
        break

df = pd.DataFrame(produtos)

df.head()

Existe outra página
finalizado

                                            Título   Preço
0                                    Sharp Objects  £47.82
1                             In a Dark, Dark Wood  £19.63
2                              The Past Never Ends  £56.50
3                                 A Murder in Time  £16.64
4  The Murder of Roger Ackroyd (Hercule Poirot #4)  £44.10

## Caso 3 - Buscador de preços

### Americanas

In [ ]:
# Americanas

driver.get("https://www.americanas.com.br/busca/celular-samsung-s25") 

# Pegar a lista de produtos pela clase que tem em todos
produtos = driver.find_elements(By.CLASS_NAME, "inStockCard__Link-sc-1ngt5zo-1")

# pegar apenas os 3 primeiros
celulares = produtos[:3]

infoCelular = []
for celular in celulares:

    nome = celular.find_element(By.CLASS_NAME, "product-name").text

    preco = celular.find_element(By.CLASS_NAME, "list-price").text

    infoCelular.append({"Título": nome, "Preço": preco, "Loja": "Americanas"})

df = pd.DataFrame(infoCelular)

df.head()

                                              Título         Preço        Loja
0  celular samsung galaxy s25 5g, 256gb, 12gb ram...   R$ 6.999,00  Americanas
1  celular samsung galaxy s25 ultra 5g, 512gb, 12...  R$ 11.999,00  Americanas
2  celular samsung galaxy s25 5g, 512gb, 12gb ram...   R$ 7.499,00  Americanas

### Magazine Luiza

In [ ]:
# MagazineLuiza - buscando do início

driver.get("https://www.magazineluiza.com.br")

driver.find_element('xpath','//*[@id="input-search"]').send_keys("celular sansung s25")

driver.find_element('xpath','//*[@id="input-search"]').send_keys(Keys.ENTER)

In [ ]:
driver.get("https://www.magazineluiza.com.br/busca/celular+sansung+s25")

# pegar os produtos pelo seletor e depois pela classe
produtos = driver.find_element(By.CSS_SELECTOR,'[data-testid="product-list"]').find_elements(By.CLASS_NAME,'gmRWWc')

# pegar os 3 primeiros
celulares = produtos[:3]

for celular in celulares:

    # busca dos produtos pelo seletor

    nome = celular.find_element(By.CSS_SELECTOR, '[data-testid="product-title').text

    preco = celular.find_element(By.CSS_SELECTOR, '[data-testid="price-value').text

    # remover o começo do texto, termo "ou "
    preco = preco[3:]

    infoCelular.append({"Título": nome, "Preço": preco, "Loja": "Magazine Luiza"})

df = pd.DataFrame(infoCelular)

df

,Título,Preço,Loja
0,"celular samsung galaxy s25 5g, 256gb, 12gb ram...","R$ 6.999,00",Americanas
1,"celular samsung galaxy s25 ultra 5g, 512gb, 12...","R$ 11.999,00",Americanas
2,"celular samsung galaxy s25 5g, 512gb, 12gb ram...","R$ 7.499,00",Americanas
3,Samsung Galaxy S25 Ultra 5G 512GB Galaxy AI,"R$ 11.698,20",Magazine Luiza
4,Samsung Galaxy S25 Ultra 5G 512GB Galaxy AI,"R$ 11.698,20",Magazine Luiza
5,Samsung Galaxy S25 5G 256GB Galaxy AI Azul,"R$ 7.198,20",Magazine Luiza